@use "./../../variables" as *;

.Weather-block {
  background: linear-gradient(90deg, #3c70fe 0%, #3e74ff 50%, #3b70fe 100%);
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 10px;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .city-info {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .city-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .city-icon {
          color: white;
          width: 12px;
          height: 12px;
        }

        .city {
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }
      }

      .city-temperature {
        display: flex;
        align-items: baseline;
        gap: 4px;

        .temp-big {
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
        }

        .temp-small {
          color: #fff;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }
      }

      .opis {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }

    .weather-icon {
      width: 75px;
      height: 75px;
      aspect-ratio: 1/1;
    }
  }

  .line {
    height: 1px;
    background: #7598fe;
    width: 100%;
    margin: 15px 0;
    border: none;
  }

  .weather-info {
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .weather-detail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .frame {
        display: flex;
        align-items: center;
        gap: 4px;

        .weather-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .label {
            color: var(--border-light, #e3e8f0);
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }

          .value {
            color: #fff;
            text-align: center;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
          }
        }
      }
    }
  }
}
