$bg: #f8fafc;
$secondary-text: #48556c;
$border-light: #e3e8f0;
$item-bg: #f3f3f3;

$blue: #5076fa;
$light-blue-bg: #f0f6ff;

$red: #e50000;
$light-red-bg: #ffe6e7;

.mini-icon{
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1/1;
}

.small-icon{
    color: white;
    width: 1.25rem;
    height: 1.25rem;
    aspect-ratio: 1/1;
}

.medium-icon{
    width: 1.25rem;
    height: 1.25rem;
    aspect-ratio: 1/1;
}

.big-icon{
    color: white;
    width: 4.6875rem;
    height: 4.6875rem;
    aspect-ratio: 1/1;
}