@use "./../../../../variables" as *;

.Wardrobe-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .Wardrobe-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;

        .text-title{
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.125rem; 
        }

        .text-description{
            color: var(--secodary-text, #48556C);
            text-align: center;
            font-family: Inter;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem;
        }
    }

    .space{
        display: flex;
        width: 7.9375rem;
        height: 2.625rem;
        padding: 0.75rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.625rem;
    }

    .Button-add{
        display: flex;
        padding: 0.5rem 0.75rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        align-self: stretch;

        border-radius: 0.625rem;
        background: var(--blue, #5076FA);
        cursor: pointer;
        transition: transform 0.2s ease;

        .button-text{
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.125rem; 
        }

        .button-icon{
            width: 0.875rem;
            height: 0.875rem;
            aspect-ratio: 1/1;
            color: white;
        }
    }

    .Button-add:hover{
        filter: brightness(1.20);
        transform: scale(1.1);
    }
}